*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif
;

}

header, 
footer {
    background-color: #1f2937;
    color: white;
    
}

header {
    display: flex;
    flex-direction: column;

}

.menu {
    display: flex;
    justify-content: space-around;
}

.m1 {
    font-size: 24px;
    font-size: bold;
}


ul {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px
    
}


a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

.menuu {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 50px
}

.descript {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 48px;
    font-weight: bold;

}

.d1 {
    font-size: 18px;
    text-align: justify;
}

.logo {
    display: flex;
    width: 250px;
    height: 250px;
}

.be {
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    border: 2px; 
    border-radius: 5px;
    padding: 4px 10px; 
    text-align: center;
    margin-top: 15px;
    width: 100px;
    

}

.container {
    display: flex;
    flex-direction: column;
    
    
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
}

.section {
    display: flex;
    justify-content: center; 
    margin-bottom: 50px;
    gap: 10px;

}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.o1 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 5px;
}

h3 > a {
    color: black;
}

h3 > a:hover {
    text-decoration: underline;
    color: black;
}

.quote {
    background-color: grey;
    padding: 50px 300px;
    display: flex;
    justify-content: center;
    
}
.q1 {
    font-size: 25px;
    text-align: justify;
}

.q2 {
    font-size: 20px;
    text-align: end;
    font-weight: bold;
}

.qq1 {
    width: 500px;
    height: auto;
}


.contact {
    display: flex;
    background-color: #3882F6;
    margin: 50px 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-around;
    align-items: center;
    color: white;
}



h4 {
    font-size: 20px;
    font-weight: bold;
}


.o2 {
    font-size: 15px;
    
}

.two > .be {
    border: 2px solid white;
   
}

footer {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
    